{% extends "layout.html" %}

{% block header %}
    {% include 'nav.html' %}
{% endblock %}

{% block body %}
<h1 class = "text-center mt-2 mb-4">Handy heros</h1>
<img class = "img-fluid" id="banner" src="https://jovian-careers-website.aakashns.repl.co/static/banner.jpeg">

<div class = "container">
    <h2 class = "text-center mt-2 mb-4">About Our Dear company</h2>
    <div class="row" style="margin-bottom: 16px;">
        <div class="col-md-6">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="d-none d-md-block col-6">
            <img src="/static/annie-gray-WEWTGkPUVT0-unsplash.jpg" style="height:320px; border-radius:4px;">
        </div>
    </div>
    <h2 class="text-center">About Handy hero</h2>
    <p class="text-center">TODO - Show the jobs here</p>
    <div class="text-center">
        <a type="button" class="btn btn-primary btn-lg" href="mailto:hello@handyheros.com?subject=Enquiry"> contact us </a>
        <p class="mt-4">Copyright 2024, Handy heros</p>
    </div>


</div>



{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

