<div class="border-bottom row" style="margin-bottom:2px; padding-bottom:8px; border-color:black;">
    <div class="col-9">
        <h4 style="color:rgb(120,120,120); margin-bottom: 4px;">{{hero['title']}}</h4>
        <div><b>Location: {{hero['location']}}</b></div>
        {% if 'cost' in hero %}
        <div><b>Cost: {{hero['cost']}}</b></div>
        {% endif %}
    </div>
    <div class="col-3">
        <a href="https://google.com" type="button" class="btn btn-outline-primary">Contact</a>
        <a href="mailto:hello@handyheros.com?subject=cost analysis of the worker" type="button" class="btn btn-outline-primary">Email</a>        
    </div>
</div>